{% extends "adminbase.html" %}

{% block pagewrapper %}

    <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Tables</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            DataTables Advanced Tables
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="display" id="dataTables">
                                    <thead>
                                        <tr>
                                            <th>Titel</th>
                                            <th>Intro</th>
                                            <th>Categorieën</th>
                                            <th>Datum</th>
                                            <th>actie</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Titel</th>
                                            <th>Intro</th>
                                            <th>Categorieën</th>
                                            <th>Datum</th>
                                            <th>actie</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for post in posts %}
                                            <tr class="{{ loop.cycle('odd', 'even') }}">
                                                <td>{{ post["titel"] }}</td>
                                                <td>{{ post["excerpt"] }}</td>
                                                <td>{{ post["categorie"] }}</td>
                                                <td>{{ post["datum"] }}</td>
                                                <td> <a href="{{ url_for("admin.blog_edit",post_id=post["_id"]) }}"><div class="btn btn-default"><i class="fa fa-pencil-square-o"></i></div></a></td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            <div class="well">
                                <h4>DataTables Usage Information</h4>
                                <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                                <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->


{% endblock %}
{% block scripts %}
<script>$(document).ready(function() {$('#dataTables').DataTable();} );</script>
{% endblock %}