<!-- Content Inner --><div class = "content-inner">

                <!-- Left Sidebar --><div class = "left-sidebar page">

                <div id = "office-apps" class = "block">
                    <h2>Office Applicaties</h2>
                    <div class = "block-content">
                        <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                            <div class = "label">MS Project</div>
                            <div class = "progressbar"><span class = "progress-count" level = "60"></span></div>
                            <div class = "description">Strokenplanningen maken en gebruiken voor begeleiding en sturing</div>
                        </div>
                        </div>
                        <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                            <div class = "label">MS Visio</div>
                            <div class = "progressbar"><span class = "progress-count" level = "75"></span></div>
                            <div class = "description">Veel gebruikt voor het visualiseren van processen en organogrammen</div>
                        </div>
                        </div>
                        <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                            <div class = "label">MS Word</div>
                            <div class = "progressbar"><span class = "progress-count" level = "80"></span></div>
                            <div class = "description">Als mijn standaard tekst verwerker, heb ik veel ervaring met dit programma</div>
                        </div>
                        </div>

                        <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                            <div class = "label">MS Excel</div>
                            <div class = "progressbar"><span class = "progress-count" level = "90"></span></div>
                            <div class = "description">De standaardfuncties, maar ook VBA-scripts en dergelijken</div>
                        </div>
                        </div>
                        <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                            <div class = "label">Prezi</div>
                            <div class = "progressbar"><span class = "progress-count" level = "90"></span></div>
                            <div class = "description">Veel ervaring met het visualiseren van complexxe concepten via Prezi</div>
                        </div>
                        </div>
                        <!-- Cleaner --><div class="clear"></div><!-- /Cleaner -->
                    </div>
                </div>

                <div id = "vakgebieden" class = "block">
                    <h2>Vakgebieden</h2>
                    <div class = "block-content">
                        <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                                <div class = "label">Operations management</div>
                                <div class = "progressbar"><span class = "progress-count" level = "95"></span></div>
                                <div class = "description">Binnen van dms ben ik verantwoordelijk voor de operations</div>
                            </div>
                        </div>
                         <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                                <div class = "label">Business development</div>
                                <div class = "progressbar"><span class = "progress-count" level = "80"></span></div>
                                <div class = "description">Ervaring binnen het strategische kader. Een voorbeeld hiervan is de ontwikkeling van het diensten pakket van dms</div>
                            </div>
                        </div>
                        <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                                <div class = "label">Commercieël</div>
                                <div class = "progressbar"><span class = "progress-count" level = "70"></span></div>
                                <div class = "description">Bij het vermartken van de eigen organisatie heb ik vele commerciële competenties verworven</div>
                            </div>
                        </div>

                        <!-- Cleaner --><div class="clear"></div><!-- /Cleaner -->
                    </div>
                </div>
               <div id = "persoonlijk" class = "block">
                    <h2>Persoonlijk</h2>
                    <div class = "block-content">
                        <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                                <div class = "label">Communicatief vaardig</div>
                                <div class = "progressbar"><span class = "progress-count" level = "100"></span></div>
                                <div class = "description">Communiceer makkelijk met de verschillende lagen binnen een organisatie, maar ook met klanten en stakeholders</div>
                            </div>
                        </div>
                        <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                                <div class = "label">Analytisch en Kritisch</div>
                                <div class = "progressbar"><span class = "progress-count" level = "75"></span></div>
                                <div class = "description">Baseer mijn beslissingen op zoveel mogelijk objectieve gegevens, de Lean Six Sigma filosofie biedt hierbij mijn leidraad</div>
                            </div>
                        </div>

                        <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                                <div class = "label">Resultaat gericht</div>
                                <div class = "progressbar"><span class = "progress-count" level = "60"></span></div>
                                <div class = "description">Het resultaat telt</div>
                            </div>
                        </div>
                        <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                                <div class = "label">Creatieve oplossingen</div>
                                <div class = "progressbar"><span class = "progress-count" level = "40"></span></div>
                                <div class = "description">Ben niet bang om buiten de figuurlijke box te denken</div>
                            </div>
                        </div>
                      </div>
                        <!-- Cleaner --><div class="clear"></div><!-- /Cleaner -->

                </div>
                <div id = "programming" class = "block">
                    <h2>Programmeren</h2>
                    <div class = "block-content">
                        <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                                <div class = "label">HTML & CSS</div>
                                <div class = "progressbar"><span class = "progress-count" level = "85"></span></div>
                                <div class = "description">Zowel deze website als de <a style="text-decoration: underline;" href="http://www.vandms.nl/">website voor van dms </a> zijn door mij gebouwd</div>
                            </div>
                        </div>
                        <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                                <div class = "label">PHP</div>
                                <div class = "progressbar"><span class = "progress-count" level = "60"></span></div>
                                <div class = "description">Enige ervaring met het bouwen van webapplicaties, <a style="text-decoration: underline;" href="http://body.vandms.nl"> voorbeeld </a></div>
                            </div>
                        </div>
                        <div class = "field roll-with-description hide">
                            <div class = "roll-button"><span></span></div>
                            <div class = "roll-field">
                                <div class = "label">Javascript, VBA, Python</div>
                                <div class = "progressbar"><span class = "progress-count" level = "25"></span></div>
                                <div class = "description">Ik heb enige ervaring met het programmeren van windows en web applicaties</div>
                            </div>
                        </div>
                      </div>
                        <!-- Cleaner --><div class="clear"></div><!-- /Cleaner -->

                </div>

            </div><!-- /Left Sidebar -->

            <!-- Content --><div class = "content">

                <div id = "employment" class = "block">
                    <h2>Werkervaring</h2>
                    <div class = "block-content">
                        <div class="text-field date">
                            <div class="text-field-left">Van<br/>Jul<br/>2011<br/>tot<br/>Nu</div>
                            <div class="text-field-right">
                                <div class="title">Partner</div>
                                <div class="meta without-icon"><span class="tag">van dms</span></div>
                                <div class="text"><p>Vanaf Juli 2011 ben ik als partner actief binnen van dms. van dms is de helpende hand voor het MKB. Kern-activiteiten: Business development, operations management </p></div>
                            </div>
                        </div>
                        <div class="text-field date">
                            <div class="text-field-left">Van<br/>Jun<br/>2011<br/>tot<br/>Dec<br/>2012</div>
                            <div class="text-field-right">
                                <div class="title">Back-office verantwoordelijke</div>
                                <div class="meta without-icon"><span class="tag">Koe & Zoo</span></div>
                                <div class="text"><p>Binnen deze functie was ik verantwoordelijk voor de oprichting, administratie, klanten service en website beheer van Koe & Zoo</p></div>
                            </div>
                        </div>
                        <div class="text-field date">
                            <div class="text-field-left">Van<br/>Apr<br/>2009<br/>tot<br/>Nu<br/></div>
                            <div class="text-field-right">
                                <div class="title">Bezorger/keuken medewerker</div>
                                <div class="meta without-icon"><span class="tag">Bezorgbeer</span></div>
                                <div class="text"><p>Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.</p></div>
                            </div>
                        </div>
                         <div class="text-field date">
                            <div class="text-field-left">Van<br/>Feb<br/>2008<br/>tot<br/>Jul<br/>2008</div>
                            <div class="text-field-right">
                                <div class="title">Productie medewerker</div>
                                <div class="meta without-icon"><span class="tag">Freelance</span></div>
                                <div class="text"><p>Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
				<div id = "stages" class = "block">
				<h2>Stages</h2>
					<div class = "block-content">
						<div class="text-field date">
                            <div class="text-field-left">Van<br/>Sep<br/>2012<br/>tot<br/>Mei<br/>2013</div>
                            <div class="text-field-right">
                                <div class="title">Afstuderen</div>
                                <div class="meta without-icon"><span class="tag">Hoogenboom van Gink</span></div>
                                <div class="text"><p>Binnen deze afstudeerstage was de vraag om een nieuwe dienst te ontwikkelen en te vermarkten, echter is deze opdracht na een kort oriëntatie onderzoek veranderd, meer info kunt u <a style="text-decoration:underline; color:#0099cc;" href="#portfolio">hier</a> vinden</p></div>
                            </div>
                        </div>
					</div>
					<div class = "block-content">
						<div class="text-field date">
                            <div class="text-field-left">Van<br/>Sep<br/>2010<br/>tot<br/>Jan<br/>2011</div>
                            <div class="text-field-right">
                                <div class="title">3e jaarsstage</div>
                                <div class="meta without-icon"><span class="tag">Woonbron</span></div>
                                <div class="text"><p>Het evalueren van de nieuwe werkmethoden gebruikt bij project "de nieuwe Nachtegaal", meer info kunt u <a style="text-decoration:underline; color:#0099cc;" href="#portfolio">hier</a> vinden</p></div>
                            </div>
                        </div>
					</div>

				</div>
                <div id = "education" class = "block last">
                    <h2>Opleidingen</h2>
                    <div class = "block-content">
                        <div class="text-field date">
                            <div class="text-field-left">Van<br/>Sep<br/>2008<br/>tot<br/>Mei<br/>2013</div>
                            <div class="text-field-right">
                                <div class="title">Bachelor Technische bedrijfskunde</div>
                                <div class="meta without-icon"><span class="tag">Hogeschool Rotterdam</span></div>
                                <div class="text"><p>Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.</p></div>
                            </div>
                        </div>
                    </div>
                    <div class = "block-content">
                        <div class="text-field date">
                            <div class="text-field-left">Van<br/>Sep<br/>2011<br/>tot<br/>Feb<br/>2012</div>
                            <div class="text-field-right">
                                <div class="title">Minor ondernemen</div>
                                <div class="meta without-icon"><span class="tag">Hogeschool Rotterdam</span></div>
                                <div class="text"><p>Afgerond met het certificaat ondernemerschap (H1 & H2) - Landelijke stichting Certificaat Ondernemerschap</p></div>
                            </div>
                        </div>
                    </div>
                    <div class = "block-content">
                        <div class="text-field date ">
                            <div class="text-field-left">Van<br/>Sep<br/>2005<br/>tot<br/>Jul<br/>2007</div>
                            <div class="text-field-right">
                                <div class="title">HAVO</div>
                                <div class="meta without-icon"><span class="tag">Penta college csg Jacob van Liesveldt</span></div>
                                <div class="text"><p></p></div>
                            </div>
                        </div>
                    </div>
                    <div class = "block-content">
                        <div class="text-field date last">
                            <div class="text-field-left">Van<br/>Sep<br/>2002<br/>tot<br/>Jul<br/>2005</div>
                            <div class="text-field-right">
                                <div class="title">Tweetalig Atheneum</div>
                                <div class="meta without-icon"><span class="tag">Penta college csg Jacob van Liesveldt</span></div>
                                <div class="text"><p> Afgerond met het Anglia Certificate of English : Advanced Level - Anglia Examinations England</p></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /Content -->

            <!-- Cleaner --><div class="clear"></div><!-- /Cleaner -->

        </div><!-- /Content Inner -->