<!-- Content --><div class = "content">

                
                <!-- Documents Menu --> <ul id = "documents-menu" class = "documents-menu" style="display:none;">
                    <li class = "first"><a href = "#documenten">Documenten</a>/</li>
                    <li><a href = "#pictures">Foto's</a>/</li>
                    <li><a href = "#videos">Video's</a>/</li>
                    <li class = "last"><a href = "#links">Links</a></li>
                </ul>
                <!-- /Documents Menu -->

                <!-- Documents --><div id="documenten" class = "content-inner">

                    <div id = "curriculum-vitae" class = "block">
                        <h2>Curriculum Vitae</h2>
                        <div class = "block-content">
                            <div class="text-field file">
                                <div class="text-field-left"><a href = "{{ url_for("static",filename="documenten/Curriculum Vitae Jeffrey Slort.pdf") }}">Download<br/>PDF bestand</a></div>
                                <div class="text-field-right">
                                    <div class="title">Jeffrey Slort - CV - PDF</div>
                                    <div class="meta without-icon"><span class="date">Geüpload op 7 Oktober 2013</span></div>
                                    <div class="text"><p>Mijn gehele Curriculum Vitae in Pdf formaat</p></div>
                                </div>
                            </div>
                            <div class="text-field file">
                                <div class="text-field-left"><a href = "{{ url_for("static",filename="documenten/Curriculum Vitae Jeffrey Slort.doc") }}">Download<br/>DOC bestand</a></div>
                                <div class="text-field-right">
                                    <div class="title">Jeffrey Slort - CV - DOC</div>
                                    <div class="meta without-icon"><span class="date">Geüpload op 7 Oktober 2013</span></div>
                                    <div class="text"><p>Mijn gehele cuuriculum vitae in DOC formaat</p></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id = "references" class = "block last">
                        <h2>Referenties</h2>
                        <div class = "block-content">
                            <div class="text-field file">
                                <div class="text-field-left"><a href = "#">Download<br/>PDF file</a></div>
                                <div class="text-field-right">
                                    <div class="title">Jeffrey Slort - Referentie van Hoogenboom van Gink</div>
                                    <div class="meta without-icon"><span class="date">Geüpload op ....</span></div>
                                    <div class="text"><p>Hier kunt u de beoordeling vinden van mijn afstudeerbegeleider binnen Hoogenboom van Gink. Voor meer informatie over mijn afstudeerscriptie verwijs ik u door naar <a href="#">Projecten</a></p></div>
                                </div>
                            </div>
                            <div class="text-field file">
                                <div class="text-field-left"><a href = "#">Download<br/>PDF file</a></div>
                                <div class="text-field-right">
                                    <div class="title">Jeffrey Slort - Referentie Siemens</div>
                                    <div class="meta without-icon"><span class="date">Uploaded on April 23, 2013</span></div>
                                    <div class="text"><p>Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.</p></div>
                                </div>
                            </div>
                            <div class="text-field file last">
                                <div class="text-field-left"><a href = "#">Download<br/>PDF file</a></div>
                                <div class="text-field-right">
                                    <div class="title">Jeffrey Slort- Referentie van ...</div>
                                    <div class="meta without-icon"><span class="date">Uploaded on April 19, 2013</span></div>
                                    <div class="text"><p>Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Cleaner --><div class="clear"></div><!-- /Cleaner -->
    </div><!-- /Documenten -->


			</div><!-- /Content -->

            <!-- Cleaner --><div class="clear"></div><!-- /Cleaner -->