{% extends "base.html" %}
{% block nav %}
    <!-- Navigation --><ul id = "navigation-menu" class = "navigation-menu">
            <li class="first tab"><a class = "profile" href="{{ url_for("website.sectie",sectie="profiel") }}" data-target="#profiel"><span>Profiel</span></a></li>
            <li class="tab"><a class = "cv" href="{{ url_for("website.sectie",sectie="cv") }}" data-target="#cv"><span>CV</span></a></li>
            <li class="tab"><a class = "documents" href="{{ url_for("website.sectie",sectie="documenten") }}" data-target="#documenten"><span>Documenten</span></a></li>
            <li class="tab"><a class = "portfolio" href="{{ url_for("website.sectie",sectie="portfolio") }}" data-target="#portfolio"><span>Projecten</span></a></li>
            <li><a class = "blog" href="{{ url_for("blog.overzicht") }}"><span>Blog</span></a></li>
            <li class="last tab"><a class = "contacts" href="{{ url_for("website.sectie",sectie="contact") }}" data-target="#contacts"><span>Contact</span></a></li>
    </ul><!-- /Navigation -->

{% endblock %}



